  <%- include('../partials/__head.ejs') %>
  <body>
    <div class="container-scroller d-flex align-items-center justify-content-center" style="min-height: 100vh;">
      <div class="main-panel">
        <div class="content-wrapper d-flex align-items-center justify-content-center">
          <div class="col-md-8 grid-margin stretch-card">
            <div class="card">
              <div class="card-body">
                <h4 class="card-title">Input Data Siswa</h4>
                <p class="card-description">Form tambah siswa secara manual (jalur offline)</p>
                <form action="/siswa/store" method="POST" enctype="multipart/form-data" class="forms-sample">
                  <div class="form-group">
                    <label for="gambar_siswa">Foto Siswa</label>
                    <input type="file" class="form-control" id="gambar_siswa" name="gambar_siswa" required>
                  </div>
                  <div class="form-group">
                    <label for="file_kk">File Kartu Keluarga (KK)</label>
                    <input type="file" class="form-control" id="file_kk" name="file_kk" required>
                  </div>
                  <div class="form-group">
                    <label for="file_akta">File Akta Kelahiran</label>
                    <input type="file" class="form-control" id="file_akta" name="file_akta" >
                  </div>

                  <div class="form-group">
                    <label for="nama_siswa">Nama Siswa</label>
                    <input type="text" class="form-control" id="nama_siswa" name="nama_siswa" placeholder="Nama siswa" required>
                  </div>
                  <div class="form-group">
                    <label for="nik">NIK</label>
                    <input type="text" class="form-control" id="nik" name="nik" placeholder="Nomor Induk Kependudukan" required>
                  </div>
                  <div class="form-group">
                    <label for="alamat_siswa">Alamat Siswa</label>
                    <textarea class="form-control" id="alamat_siswa" name="alamat_siswa" rows="2" required></textarea>
                  </div>
                  <div class="form-group">
                    <label for="ttl">Tempat, Tanggal Lahir</label>
                    <input type="date" class="form-control" id="ttl" name="ttl" required>
                  </div>
                  <div class="form-group">
                    <label for="gender">Jenis Kelamin</label>
                    <select class="form-control" id="gender" name="gender" required>
                      <option value="">-- Pilih Jenis Kelamin --</option>
                      <option value="Pria">Laki-laki</option>
                      <option value="Wanita">Perempuan</option>
                    </select>
                  </div>
                  <div class="form-group">
                    <label for="nama_ortu_siswa">Nama Orang Tua</label>
                    <input type="text" class="form-control" id="nama_ortu_siswa" name="nama_ortu_siswa" placeholder="Nama orang tua" required>
                  </div>
                  <div class="form-group">
                    <label for="no_telp_ortu_siswa">No. Telepon Orang Tua</label>
                    <input type="text" class="form-control" id="no_telp_ortu_siswa" name="no_telp_ortu_siswa" placeholder="08xxxxxxxxxx" required>
                  </div>
                  <div class="form-group">
                    <label for="pekerjaan_ortu_siswa">Pekerjaan Orang Tua</label>
                    <input type="text" class="form-control" id="pekerjaan_ortu_siswa" name="pekerjaan_ortu_siswa" required>
                  </div>
                  <div class="form-group">
                    <label for="alamat_ortu_siswa">Alamat Orang Tua</label>
                    <textarea class="form-control" id="alamat_ortu_siswa" name="alamat_ortu_siswa" rows="2" ></textarea>
                  </div>
                  <div class="mb-3">
                    <label for="waktu_siswa" class="form-label">Waktu Siswa Masuk</label>
                    <input type="date" class="form-control" name="waktu_siswa">
                  </div>

                  <input type="hidden" name="jalur_daftar" value="offline">
                  <button type="submit" class="btn btn-primary mr-2">Submit</button>
                  <button type="button" class="btn btn-light" onclick="history.back()">Cancel</button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <%- include('../partials/__foot.ejs') %>
  </body>
