<nav id="navmenu" class="navmenu">
  <ul>
    <li><a href="../" class="active">Home</a></li>
    <li><a href="../fasilitaslogin">Fasilitas</a></li>
    <li><a href="../albumlogin">Galeri</a></li>
    <li><a href="../gurulogin">Guru</a></li>
    <li><a href="../../beritalogin">Berita</a></li>
    <li><a href="../daftar_ulang/create">Daftar Ulang</a></li>
    <!-- 👤 Dropdown User Pindahan -->
  </ul>

  <!-- Mobile nav toggle -->
  <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
</nav>
